@model IEnumerable<PizzaWebSite.Models.PizzaCart.Pizza>

@{
    ViewBag.Title = "Pizzas - Home Page";
}

<div class="jumbotron">
    <h1>Pizza Website</h1>
    <p class="lead">Order from a selection of pizzas below!</p>
</div>

<div class="row">
    @foreach (var pizza in Model)
    {
        <div class="col-md-4">
            <h3>@Html.DisplayFor(modelItem => pizza.Name)</h3>
            <p>Price: @Html.DisplayFor(modelItem => pizza.Price)</p>
            <ul>
                @foreach (var topping in pizza.Toppings.ToList())
                {
                    <li>@Html.DisplayFor(modelItem => topping.Name) </li>
                }
            </ul>
            
            @foreach (var pizzaSize in ViewBag.AllPizzas)
            {
                if (pizzaSize.Name == pizza.Name)
                {
                    @Html.ActionLink((string)pizzaSize.Size, "PizzaCustomise", new { id = pizzaSize.PizzaId }, new { @class = "btn btn-primary" })
                }
            }
        </div>
    }
</div>