@model IEnumerable<PizzaWebSite.Models.PizzaCart.Pizza>

@{
    ViewBag.Title = "Pizzas - Home Page";
}

<div class="jumbotron">
    <h1>Pizza Website</h1>
    <p class="lead">Order from a selection of pizzas below!</p>
</div>

<div class="row">
    @*@foreach (var pizza in Model)
    {
        <div class="col-md-4">
            @Html.DisplayFor(pizzaModel => pizza.Name)
        </div>
    }*@
    
</div>