@model PizzaWebSite.Models.PizzaCart.Pizza

@{
    ViewBag.Title = "Pizzas - Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Pizza Website</h1>
    <p class="lead">Customise your pizza!</p>
</div>

<div class="row">
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) (@Html.DisplayFor(model => model.Size))</h3>
</div>